main.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.f-login {
  display: flex;
  flex-direction: column;
  padding-top: 10rem;
}

.h2-login {
  padding-bottom: 1rem;
  display: block;
  margin: auto;
}

input {
  margin-bottom: 1rem;
  padding: 0.3rem;
}

.b-login {
  display: block;
  margin: auto;
  padding: 0.5rem;

  width: 120px;
  border-radius: 40px 40px 40px 40px;

  background-color: #dda964;
}
