main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-profile {
  margin: 10rem;
  display: block;
  border: 2px solid #b99834;
  border-radius: 100px;
  width: 60%;
  background-color: #dcb233b4;
}
.avatar-container {
  display: flex;
  height: 20vh;
  align-items: center;
  justify-content: center;
}
.avatar-container img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
.avatar-container input {
  border: 2px;
}

.inputs-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}
input::placeholder {
  text-align: center;
  font-weight: bold;
  background-color: #5c9da0;
}
label {
  margin-bottom: 10px;
}
.button-profile {
  margin-top: 6px;
  margin-bottom: 30px;
  padding: 5px;
  font-weight: bold;
}
