.container-service-header {
  display: inline-flex;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 770px;
  height: 30%;
  margin: auto;
  justify-content: space-around;
  font-weight: bold;
  background: none;
  background-color: bisque;
  border-radius: 0%;
  list-style: none;
}
