footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-image: linear-gradient(to left, #c6ffdd, #fbd786, #f7797d);
  color: black;
  margin-top: 2rem;
}

.p-footer {
  display: flex;
  align-items: center;
}
