div.app > footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: var(--blue-color);
  color: black;
  max-height: 10vh;
}

p {
  padding-top: 5%;
}
