.service-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  padding-top: 10px;
  padding-bottom: 40px;
  width: 800px;
  border-radius: 20px;

  background-color: #dcb233ab;
  border: 2px solid #b99834;
  list-style: none;
}

.service-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
