/* .div-sb {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 600px;
  border-radius: 20px;
  margin-top: 10px;
  margin-right: 10px;

  background-color: #6fa4a7;
  border: 2px solid #b99834;
  font-weight: bold;
}
 */
