.footer-container {
  display: inline-flex;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 770px;
  height: 30%;
  margin: auto;
  justify-content: space-around;
  font-weight: bold;
  background: none;
  background-color: bisque;
  border-radius: 0%;
  list-style: none;
}

.b-añadir {
  width: 250px;
  border-radius: 40px 40px 40px 40px;
  background-color: #dda964;
  font-weight: bold;
  display: block;
  text-align: center;
  border: 2px solid black;
}

.b-añadir a {
  padding: 0.5rem;
  text-decoration: none;
  color: black;
  display: block;
}
