main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.f-register {
  display: block;
  margin: 10rem;
  border: 2px solid #b99834;
  border-radius: 100px;
  width: 60%;
  background-color: #dcb233b4;
}

.inputs-register {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.i-register::placeholder {
  text-align: center;
  font-weight: bold;
  background-color: #5c9da0;
}

.b-register {
  display: block;
  margin: auto;
  padding: 0.5rem;

  width: 100px;
  border-radius: 40px 40px 40px 40px;

  background-color: #dda964;
}
